/*
Project Name: Jeanine Rees website
Author: Jeanine Rees
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */


header {
  background: black;
  text-align: center;
}

h1 {
  text-align: center;
  color: pink;
  font-size: 38px;
  font-weight: bold;
  font-family: helvetica, arial, sans-serif;
}

#subtitle {
  color: white;
  font-style: italic;
  font-size: 24px;
}

.container-fluid {
  display: inline-block ! important;
  text-align: center;
}

.navbar {
  background-color: black;
  font-size: 1.25em;
  border: none;
}

.navbar-default .navbar-nav>.active>a {
  color: black;
  text-align: center;
  background-color: pink;
}

.navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background: pink;
  color: black;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  text-align: center;
}

.navbar-default .navbar-nav>li>a:hover {
  color: pink;
}

.navbar-toggle {
  color: pink;
}

li .active {
  border-radius: 25px;
}

#blurb {
  background: white;
  /*border-top: solid;
  border-style: solid;
  border-color: pink;*/
  text-align: center;
}

#blurb p {
  color: black;
}

h2 {
  color: pink;
  font-size: 18px;
  font-family: helvetica, arial, sans-serif;
}

ul {
  columns: 200px;
  break-inside: avoid;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}
li {
  list-style-type:none;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
  margin-top: 0px;
  margin-bottom: 20px;
  box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
}

h2 {
  color: black;
  text-align: left;
  padding: 20px 0 0 20px;
}

#otherProjects {
  display: block;
  text-align: center;
  background-color: gray;
}

#otherContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#otherContent img {
  height: 40%;
  width: 40%;
}

#otherThing1 {
  
}

#otherThing2 {
  
}

#otherContent p {
  display: block;
  text-align: left;
  width: 40%;
}

#aboutContent {
  display: flex;
  flex-direction: row;
  /*justify-content: space-around;*/
}

#spiel {
  display: block;
  text-align: center;
  padding: 20px;
}

#spiel p {
  text-align: left;

}

#aboutContent img {
  height: 30%;
  width: 30%;
  box-shadow: none; 
}

#contact {
  display: block;
  text-align: center;
  height: 200px;
  background-color: gray;
}

#contactContent {
  text-align: left;
}



footer {
  margin: 50px 0 50px 0;
  text-align: center;
  font-size: 8px;

}
 









