/*
Project Name: Jeanine Rees website
Author: Jeanine Rees
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/


@font-face {
    font-family: VoltaT;
    src: url(VoltaT.ttf);
}

@font-face {
    font-family: Rickles;
    src: url(Rickles.ttf);
}

@font-face {
    font-family: Secesja;
    src: url(Secesja.ttf);
}

@font-face {
    font-family: CurlyStars;
    src: url(CurlyStars.ttf);
}


body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: "VoltaT", serif;
  background: #F7F6D5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }




/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

.container {
  width: 100%;
}

header {
  background: black;
  text-align: center;
}

h1 {
  text-align: center;
  color: #ff8080;
  font-size: 6em;
  font-family: "Rickles";
  font-style: normal;
  margin-bottom: 0;
}

h1 a:link {
  color: #ff8080;
  text-decoration: none;
  font-style: normal;
  padding-bottom: 0;
}

h1 a:visited {
  color: #ff8080;
  text-decoration: none;
  font-style: normal;
  padding-bottom: 0;
}

a:hover {
  color: #ff8080;
  text-decoration: none;
  font-style: normal;
}

a:active{ 
  color: #ff8080;
  text-decoration: none;
  font-style: normal;

}

.container-fluid {
  display: inline-block ! important;
  text-align: center;
  padding: 0;
}

.navbar {
  background-color: black;
  border: none;
  font-family: "VoltaT";

}

#bs-example-navbar-collapse-1 {
  font-family: "VoltaT";
  font-size: 2em;
  margin-top: 20px;
}

.navbar-default .navbar-nav>.active>a {
  color: #F7F6D5;
  text-align: center;
  background-color: black;
  padding-top: 20px;
  margin-bottom: 20px;
}

.navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  font-family: "Rickles", cursive;
  font-size: 1.5em;
  color: #F7F6D5;
  background-color: black;
   padding-top: 20px;
   margin-bottom: 20px;
}

.navbar-default .navbar-nav>li>a:hover {
  font-family: "Rickles", cursive;
  font-size: 1.5em;
  color: #F7F6D5;
  background-color: black;
   padding-top: 20px;
   margin-bottom: 20px;
}

.navbar-default .navbar-nav>li>a {
  color: #F7F6D5;
  text-align: center;
  background-color: black;
   padding-top: 20px;
   margin-bottom: 20px;
}



.navbar-toggle {
  font-family: "Rickles";
  font-size: 1.5em;
  color: #F7F6D5;
  background-color: black;
   padding-top: 20px;
   margin-bottom: 20px;
}

#blurb { 
  background: #809603;
-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
  text-align: center;
  padding: 22em 20px 20em 20px;
}

#blurb #tagline {
  color: #F7F6D5;
  font-size: 4.5em;
  font-family: "VoltaT";
  padding-top: 30px;
  margin: 40px 20px 50px 20px;
}

@media only screen and (max-width: 800px) {
    #blurb #tagline {
        margin-top: 0px;
        padding-top: 0px;
    }
}

#blurb p {
  font-size: 2.5em;
  padding: 0 20px 0 20px;
}

#star {
  color: #ff8080;
  font-family: "Rickles";
  font-size: 8em;
  margin: 2em 0 2em 0;
}

.anchor{
  display: block;
  height: 150px; 
  margin-top: -150px; 
  visibility: hidden;
}

#designContent {
  text-align: center;
  display: block;
  margin: 50px;
}

ul {
  columns: 300px;
  break-inside: avoid;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  margin-bottom: 50px;
}
li {
  list-style-type:none;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
  margin-top: 0px;
  margin-bottom: 20px;
  box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
}

.modaal-gallery-item img {
    margin-bottom: 0;
}

#otherProjects {
-webkit-clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 98%);
clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 98%);
  text-align: center;
  background-color: #809603;
  box-sizing: border-box;
}

#otherThing1 {
  margin: 50px auto 50px auto;
  padding: 30px 50px 20px 50px;
  max-width: 990px;
  text-align: center;

}

#otherThing1 p {
  text-align: left;
  font-size: 2em;
  display: inline-block;
}

#otherThings {
  max-width: 900px;
  text-align: center;
  margin: 0 auto 50px auto;
}

#otherThing2 {
  max-width: 425px;
  float: left;
  margin: 20px auto 20px auto;
}

@media only screen and (max-width: 800px) {
    #otherThing2 {
        float: none;
        margin-top: 0;
    }
}

#otherThing2 p {
  padding: 0 20px 0 20px;
  text-align: left;
  font-size: 2em;
  display: inline-block;
}

#otherThing2 img {
  width: 200px;
  display: inline-block;
}

#otherThing3 {
margin: 20px auto 50px auto;
padding-bottom: 30px;
max-width: 425px;
float: right;
}

@media only screen and (max-width: 800px) {
    #otherThing3 {
        float: none;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

#otherThing3 p {
  padding: 0 20px 0 20px;
  text-align: left;
  font-size: 2em;
  display: inline-block;
}

#otherThing3 img {
  width: 270px;
  display: inline-block;
}

#rye {
  font-family: "VoltaT";
  font-weight: bold;
  color: black;
}

#aboutMe {
  background-color: #ff8080;
  margin: 20px 0 30px 0;
-webkit-clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 98%);
clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 98%);
}

#aboutContent { 
  justify-content: center;
  margin: 50px auto 60px auto;
}

#spiel {
  padding: 30px;
  margin-bottom: 30px;
}

#spiel p {
  text-align: left;
  font-size: 2em;
  margin-bottom: 1.25em;
}

#me {
  margin: 30px auto 50px 30px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

#me img {
  box-shadow: none;
  width: 400px;
  margin: 10px auto 30px auto;
}

#contact {
  text-align: center;
  display: block;
  background-color: #809603;
  margin: 30px auto 30px auto;
-webkit-clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 95%);
clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 95%);

}

#contactContent{
  display: block;
  background-color: #809603;
  font-size: 2em;
  margin: 30px auto 30px auto;
 
}

#contact a:link {
  color: #404040;
}

footer {
-webkit-clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
  margin: 0px;
  padding: 20px 0 10px 0;
  text-align: center;
  font-size: 1.2em;
  color: #ff8080;
  background-color: black;
}
 









